.layer--1 {
  background-image: url("../images/steve/bg.jpg");
}
.layer--3 {
  top: 10%;
  background-image: url("../images/steve/fg.png");
}
.layer--4 {
  background-color: rgba(0,0,0,0.7);
  background-image: none;
}
