.logo {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  &__layer {
    @include responsive-image;
    padding: 0 60px;
  }
  &__layer--1 {
    position: relative;
    path {
      fill: rgba(0,0,0,0.7);
    }
  }
  &__layer--2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-10px, -10px);
    path {
      fill: #fbae17;
    }
  }
}
@media screen and (max-width: 767px), screen and (max-height: 800px) {
  .logo {
    width: 600px;
    &__layer--2 {
      transform: translate(-5px, -5px);
    }
  }
}
