.logo {
  position: relative;
  width: 1000px;
  margin: 100px auto 0;
  &__layer {
    @include responsive-image;
    padding: 0 60px;
  }
  &__layer--1 {
    position: relative;
    path {
      fill: rgba(0,0,0,0.5);
    }
  }
  &__layer--2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-10px, -10px);
    path {
      fill: #fbae17;
    }
  }
}
